@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Spartan", sans-serif;
}

body {
  padding: 0;
  position: relative;
  background: white;
  background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top, right bottom;
  overflow-x: hidden;
}

main {
  min-width: 320px;
  margin: 4rem;
}

#top-section {
  display: flex;
  width: 100%;
  padding: 2rem 6rem;
}

#welcome {
  flex: 1;
  color: #502050;
}
#welcome h1 {
  padding: 0.3rem;
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
}
#welcome p {
  color: #937b92;
  padding: 0.3rem 4rem 0.3rem 0.3rem;
  margin: 1rem 0;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
}

#ratings {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review {
  line-height: 20px;
  color: #502050;
  font-weight: 500;
  width: 450px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #f7f2f7;
  border-radius: 10px;
}
.review h5::before {
  content: url("../images/icon-star.svg") url("../images/icon-star.svg") url("../images/icon-star.svg") url("../images/icon-star.svg") url("../images/icon-star.svg");
  margin-right: 2rem;
}

.r1 {
  margin-left: 10%;
}

.r2 {
  margin-left: 15%;
}

.r3 {
  margin-left: 20%;
}

#testimonials {
  display: flex;
  padding: 0 4rem;
}

.card {
  margin: auto 1rem;
  padding: 2rem 2.5rem;
  background: #502050;
  border-radius: 12px;
}
.card p {
  color: white;
  line-height: 22px;
  font-size: 18px;
}

.c1 {
  margin-top: 3rem;
  grid-area: c1;
}

.c2 {
  margin-top: 5rem;
  grid-area: c2;
}

.c3 {
  margin-top: 7rem;
  grid-area: c3;
}

.name {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.person {
  align-items: center;
  display: flex;
  margin: 1.5rem 0;
}
.person img {
  border-radius: 50%;
  display: flex;
  margin: auto 0;
}
.person h3 {
  color: white;
}
.person h4 {
  color: #ee68a4;
  font-weight: 400;
}

@media (max-width: 1400px) {
  main {
    padding: 6rem;
    margin: 0;
  }

  #top-section {
    flex-direction: column;
    padding: 0;
  }

  #ratings {
    align-items: center;
    margin-bottom: 3rem;
  }

  .review {
    width: 60%;
    margin: 0.5rem 0;
  }

  #testimonials {
    display: grid;
    grid-template-areas: "c1 c2" "c3 c3";
    padding: 0;
  }

  .c1 {
    margin: 0.5rem;
  }

  .c2 {
    margin: 0.5rem;
  }

  .c3 {
    margin: 0.5rem;
  }
}
@media (max-width: 900px) {
  main {
    padding: 2rem;
  }

  #top-section {
    flex-direction: column;
    padding: 0;
  }

  #ratings {
    flex: 1;
  }

  .review {
    width: 80%;
    margin: 0.5rem 0;
  }

  #welcome {
    flex: 1;
    padding: 1rem;
  }

  #testimonials {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  body {
    min-width: 320px;
    overflow-x: visible;
  }

  main {
    padding: 0;
  }

  #welcome h1 {
    font-size: 40px;
    line-height: 42px;
  }
  #welcome p {
    padding: 0;
  }

  .review {
    width: 90%;
  }
  .review h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .review h5:before {
    display: flex;
    order: 2;
    margin-top: 0.1rem;
  }

  .card {
    padding: 1rem 0.6rem;
    min-height: 280px;
  }
  .card h2 {
    font-size: 15px;
  }
  .card h4 {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
